.App {
  text-align: center;
}
.Header {
  background-color: beige;
  padding: 15px;
  color: black;
}
.myselect{
  text-align: center;
}
.label-m{
  font-size: 20px;
  font-weight: bold;
}
.myselect>select{
  width: 30px;
}
